* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: -50vh;
  left: -50%;
  height: 100%;
  width: 150%;
  background-image: radial-gradient(
    ellipse at center left,
    rgba(255, 255, 255, 0.125),
    rgba(255, 255, 255, 0) 70%
  );
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.cards {
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  height: max-content;
}
.card {
  position: relative;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin: 1em;
  padding: 15px;
  font-size: 13px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  border-radius: 8px;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}
.card-img {
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text {
  width: 100%;
  margin-left: 16px;
}
.card-title {
  margin: 4px 0;
}
.card-info {
  color: #8f8f8e;
}
.toggle {
  position: relative;
  justify-content: flex-end;
  display: none;
}
.toggle button {
  border: none;
  outline: none;
  background: #2a2a2a;
  color: #fff;
  margin: 0 1em;
  padding: 10px 16px 12px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
#card-1 {
  top: 0;
}
#card-1 .card-img {
  background-image: linear-gradient(to bottom right, #7d76c6, #acaae1);
  filter: hue-rotate(32deg);
}
#card-2 {
  top: -100px;
}
#card-2 .card-img {
  background-image: linear-gradient(to bottom right, #7d76c6, #acaae1);
}
#card-3 {
  top: -200px;
}
#card-3 .card-img {
  background-image: linear-gradient(to bottom right, #c68b76, #e1b6aa);
}
